.App {
  text-align: center;
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 400px;
  margin: 0 auto;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.hidden {
  display: none;
}

.card {
  border: 1px solid black;
  width: 400px;
  margin: 20px auto;
}